<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.dao.KaijiangBkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cj.model.KaijiangBk">
        <result column="hm1" property="hm1" />
        <result column="hm2" property="hm2" />
        <result column="hm3" property="hm3" />
        <result column="hm4" property="hm4" />
        <result column="hm5" property="hm5" />
        <result column="hm6" property="hm6" />
        <result column="hm7" property="hm7" />
        <result column="proxy_user" property="proxyUser" />
        <result column="kjstatue" property="kjstatue" />
        <result column="nextkjtime" property="nextkjtime" />
        <result column="qs" property="qs" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        hm1, hm2, hm3, hm4, hm5, hm6, hm7, proxy_user, kjstatue, nextkjtime, qs
    </sql>

    <select id="selectdetail" resultType="map">
        select <include refid="Base_Column_List"/> from kaijiang_bk where 1=1
        <if test="kjstatue != null and kjstatue != ''">
            AND kjstatue = #{kjstatue}
        </if>
    </select>

    <update id="updateStatue">
        UPDATE kaijiang_bk set kjstatue = #{kjstatue} where qs = #{qs}
    </update>

</mapper>
