a {
    text-decoration: none;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.flex-1 {
    flex: 1;
}

.flex-fix {
    flex-shrink: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-overflow-multi {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.text-center {
    text-align: center;
}

.ft_12 {
    font-size: .222rem;
}

.ft_14 {
    font-size: .26rem;
}

.ft_16 {
    font-size: .296rem;
}
