
@charset "utf-8";
html,body {
    height: 100%;
    background-color: #fff;
    color: #576886;
    font-size: 16px;
    -webkit-text-size-adjust: none;
    width:100%;
    font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif, simsun, sans-serif !important;
    overflow-y: auto;
}

body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif, simsun, sans-serif;
}



h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-weight: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left
}

caption,
th {
    text-align: inherit
}

ul,
ol,
menu {
    list-style: none
}

fieldset,
img {
    border: 0;
    height:auto;
}

object,
input,
textarea,
button,
select {
    vertical-align: middle
}



input,
textarea,
button,
select,
a {
    outline: 0 none;
    border: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

mark {
    background-color: transparent
}

a,
ins,
s,
u,
del {
    text-decoration: none
}

sup,
sub {
    vertical-align: baseline
}

html {
    // overflow-x: hidden;
    // height: 100%;
    //font-size: 50px;
    -webkit-tap-highlight-color: transparent;
}


hr {
    height: .02rem;
    margin: .1rem 0;
    border: medium none;
    border-top: .02rem solid #cacaca;
}

a {
    color: #25a4bb;
    text-decoration: none;
}

input::-webkit-input-placeholder {
    color: #ccd4e3;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccd4e3;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccd4e3;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccd4e3;
}
*:focus {
    outline: none;
}
img, input, select {
    vertical-align: middle;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.page{
    .el-pagination__sizes{
        float: left;
    }
}
.netTable{
    .el-table__expanded-cell{
        padding: 0;
    }
}
.checkTable{
    table{
        position: relative;
        tr{
            padding: 0;
            margin: 0;
            height: .46rem;
            .el-table--small th, .el-table--small td {
                padding: 0;
            }
            td{
                padding: 0;
                margin: 0;
                //line-height: 20px;
            }
        }
    }
    .el-table td div {
        height: .46rem;
        line-height: .46rem;
        text-align: center;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

::-webkit-scrollbar { /*滚动条整体样式*/
width: 6px !important;; /*高宽分别对应横竖滚动条的尺寸*/
height: 6px !important;
background: #EEEEEE !important;
cursor: pointer !important;

}

::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
border-radius: 5px !important;
-webkit-box-shadow: inset 0 0 5px rgba(240, 240, 240, .5) !important;;
background:#CCCCCC !important;;
cursor: pointer !important;
}

::-webkit-scrollbar-track { /*滚动条里面轨道*/
-webkit-box-shadow: inset 0 0 5px rgba(240, 240, 240, .5) !important;;
border-radius: 0 !important;;
background: #EEEEEE !important;;
cursor: pointer !important;
}
/* 滚动条两边按钮 */
::-webkit-scrollbar-button{
display: none
}
/* 边角 */
::-webkit-scrollbar-corner{
background:#EEEEEE;
}


@media screen and (max-width: 768px) {
    .mobile {
        display: block;
    }
    .pc {
        display: none;
    }

    html {
        font-size: 85.34px;
    }
}

@media screen and (max-width: 640px) {
    html {
        font-size: 85.34px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 64px;
    }
}

@media screen and (max-width: 440px) {
    html {
        font-size: 58.67px;
    }
}

@media screen and (max-width: 414px) {
    html {
        font-size: 55.2px
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 53.34px;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 50px;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 48px;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 42.67px;
    }
}

@media only screen and (max-width: 800px) {
    html, body {
        min-width: auto;
    }
    body {
        .section {
            width: 100%;
        }
        .layout-box{
            min-height:100%;
            margin-bottom: -5.9rem;
        }
    }
}
