/**
 * 重置html样式
 */
/** 清除内外边距 **/
body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, span, a, i, strong, b, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, select, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */
{
    margin: 0;
    padding: 0;
    list-style: none;
    /*font-family: '宋体', 'San-serif', 'Microsoft JhengHei', 'STXihei';*/
    /*font-family: '楷体', 'KaiTi', Arial, Helvetica, sans-serif;*/
    font-family: '微软雅黑', '"Microsoft YaHei"', Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*手机端去除高亮*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: 0;
}

address, cite, dfn, em, var {
    font-style: normal;
}

/* 将斜体扶正 */
code, pre, samp {
    font-family: courier new, courier, monospace;
}

/* 统一等宽字体 */
small {
    font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/** 重置列表元素 **/
ul, ol, dl {
    list-style: none;
}

/** 重置文本格式元素 **/
a {
    text-decoration: none;
}

a:hover,
a:visited,
a:focus,
a:link {
    text-decoration: none;
    outline: none;
}

/** 重置img垂直居中 **/
img {
    vertical-align: middle;
}

/** 重置表单元素 **/
legend {
    color: #000;
}

/* for ie6 */
fieldset, img {
    border: none;
}

/* img 搭车：让链接里的 img 无边框 */

/** 重置表格元素 **/
table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-break: break-all
}

/* 清除浮动 */
.clear:after,
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


.clear, .clearfix {
    display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix,
* html .clear {
    height: 1%;
}

.clear, .clearfix {
    display: block;
}

/* close commented backslash hack */

@media only screen and (min-width: 767px) {

    small {
        font-size: 12px;
    }

    /* 小于 12px 的中文很难阅读，让 small 正常化 */
    input::-ms-clear, input::-ms-reveal {
        display: none !important;
    }

    /*修复chrome 自动填充input背景*/
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px #fff inset;
    }

    input:focus::-webkit-input-placeholder {
        color: transparent;
    }

    input:focus:-moz-placeholder {
        color: transparent;
    }

    input:focus::-moz-placeholder {
        color: transparent;
    }

    input:focus:-ms-input-placeholder {
        color: transparent;
    }

    /*滚动条*/
    /* 设置滚动条的样式 */
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    /* 滚动槽 */
    ::-webkit-scrollbar-track {
        background: #e1e6f0;
        border-radius: 14px;
        -webkit-border-radius: 14px;
    }

    /* 滚动条滑块 */
    ::-webkit-scrollbar-thumb {
        border-radius: 14px;
        -webkit-border-radius: 14px;
        background: #919397;
    }

    ::-webkit-scrollbar-thumb:window-inactive {
        background: #919397;
    }

    .two-t1 {
        font-size: 1.6rem;
    }

    .ten-list-item {
        font-size: 16pt;
    }
}

@media only screen and (min-width: 720px) {
    .ten-list-item {
        font-size: 16pt !important;
    }
}

body {
    max-width: 720px;
    margin: 0 auto;
    overflow-x: hidden;
}

.module {
    width: 100%;
    height: 100%;
}

.ft-8 {
    font-size: .8rem;
}

.ft-10 {
    font-size: 1rem;
}

.ft-12 {
    font-size: 1.2rem;
}

.ft-14 {
    font-size: 1.4rem;
}

.ft-16 {
    font-size: 1.6rem;
}

.mt-40 {
    margin-top: .4rem;
}

.mb-40 {
    margin-bottom: .4rem;
}

.mb-80 {
    margin-bottom: .8rem;
}

.pt-40 {
    padding-top: .4rem;
}

.pb-40 {
    padding-bottom: .4rem;
}

.p-40 {
    padding: .4rem;
}

.flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
}

.no-row-margin {
    margin: 0;
}

.text-center {
    text-align: center;
}

.cl_red {
    color: red;
    font-size: 1.2rem;
}

.font-bold {
    font-weight: bold;
}

.top-title {
    margin-top: 0.8rem;
    font-size: 2rem;
    text-shadow: 0px 0px 2px #d39e00,
    0px 1px 1px #d4edda,
    0px 2px 1px #f8d7da,
    0px 3px 1px #f1b0b7,
    0px 4px 1px #f5c6cb,
    0px 5px 1px #f8d7da,
    0px 6px 1px #fcf8e3,
    0px 7px 1px #491217,
    0px 8px 3px rgba(155, 30, 155, 0.4),
    0px 9px 5px rgba(189, 50, 189, 0.1),
    0px 10px 7px rgba(189, 10, 189, 0.15),
    0px 11px 9px rgba(100, 18, 100, 0.2),
    0px 12px 11px rgba(100, 11, 100, 0.25),
    0px 13px 15px rgba(100, 5, 100, 0.3);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    text-align: center;
}

.img-list {
    position: relative;
    width: 100%;
}

.img-list .img-list-item {
    position: absolute;
    width: 4rem;
    height: 3rem;
    border: 1px dashed #ccc;
}

.img-list-item img {
    vertical-align: bottom;
    width: 100%;
    height: 100%;
}

.img-list-item:nth-child(1) {
    left: 1%;
    top: .8rem;
}

.img-list-item:nth-child(2) {
    left: 25%;
    top: 2rem;
}

.img-list-item:nth-child(3) {
    right: 30%;
    top: 1rem;
}

.img-list-item:nth-child(4) {
    right: 2%;
    top: 2.8rem;
}

.section-content {
    padding: .4rem;
    width: 100%;
}

.content-box:nth-child(odd) .section {
    border: 3px solid #0096ff;
}

.content-box:nth-child(even) .section {
    border: 3px solid #1aad19;
}

.list-item {
    border-top: 1px solid #d3d9df;
}

.item-text {
    border-right: 1px solid #d3d9df;
    padding: .6rem .4rem;
    font-size: .7rem;
}

.item-text:last-child {
    border: none;
}

.item-text img {
    margin-right: .4rem;
}

.item-text a {
    font-size: .7rem;
}

.one-content {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 25%;
    overflow: hidden;
}

.one-content .top-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.two-content {
    padding: .4rem 0;
}

.two-t1 {
    padding: 0 .4rem;
    font-size: 1rem;
    font-weight: bold;
}

.two-t2 {
    font-size: .8rem;
}

.two-t3 {
    padding: .4rem;
    font-size: .8rem;
}

.two-content-lists {
    padding: .4rem;
    width: 100%;
}

.two-list-add {
    width: 1rem;
}

.two-list-content {
    width: 14%;
    padding: 0 .2rem;
    box-sizing: border-box;
}

.two-list-content div {
    padding: .2rem;
}

.two-list-content:last-child {
    margin-right: 0;
}

.two-list-modal-content .first-text,
.two-list-content .first-text {
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
}

.two-list-modal-content .first-text {
    font-size: 1rem;
}

.two-list-modal-content .first-text-t,
.two-list-content .first-text-t {
    color: #fff;
    padding: .2rem .4rem;
    background: #9a9494;
    text-align: center;
    font-size: 1rem;
}

.two-list-modal-content .first-text-t {
    font-size: .7rem;
}

.modalBtn {/*开奖历史*/
    position: absolute;
    bottom: .6rem;
    right: .4rem;
    cursor: pointer;
    color: #e11313;
    font-size: .8rem;
}

.three-title {
    background: #0096ff;
    color: #fff;
    padding: .4rem;
}

.three-list-content {
    padding: .4rem;
    width: 100%;
}

.three-list-content span {
    margin: .4rem;
    font-size: 1rem;
    cursor: pointer;
}

.four-list-content .item-text {
    width: 33.33%;
}

.four-list-content .item-text a {
    color: #000;
}

.common-title {
    padding: .8rem 0;
}

.common-title h1 {
    font-size: 19pt;
    font-family: '黑体', 'SimHei', '微软雅黑', 'Microsoft YaHei', Arial, Helvetica, sans-serif;
}

.fourColor {
    color: #fff;
    background: #0096ff;
    text-align: center;
}

.sixColor {
    color: #fff;
    background: #e11313;
    text-align: center;
}

.sevenColor {
    color: #fff;
    background: #1aad19;
    text-align: center;
}

.four-list-content img {
    width: .3rem;
    height: .45rem;
}

.five-list-content img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.five-list-item {
    height: 0;
    padding-bottom: 3.33%;
    width: 33.33%;
    overflow: hidden;
    position: relative;
}

.six-list-item div {
    padding: 0 .4rem;
}

.bg-FFD700 {
    background: #FFD700;
}

.bg-ADFF2F {
    background: #ADFF2F;
    color: #E11313;
}

.bg-F0E68C {
    background: #F0E68C;
}

.six-list-content .item-text {
    font-size: 1rem;
    word-break: break-all;
}

.six-list-content .six-list-item1 {
    width: 25%;
}

.six-list-content .six-list-item2 {
    width: 53%;
}

.six-list-content .six-list-item3 {
    width: 22%;
}

.six-list-content img {
    width: 1.85rem;
}

.seven-list-content img {
    width: 2rem;
    height: .75rem;
}

.seven-list-content .item-text {
    width: 33.33%;
    font-size: 1rem;
    word-break: break-all;
}

.seven-list-content .seven-list-item1 {
    width: 25%;
}

.seven-list-content .seven-list-item2 {
    width: 53%;
}

.seven-list-content .seven-list-item3 {
    width: 22%;
}

.seven-list-content .item-text a {
    font-size: 1rem;
}

.eight-list a {
    padding: 0 .8rem;
    border-right: 1px solid #d3d9df;
    color: #8b9094;
    font-size: 1rem;
}

.ten-list {
    border-bottom: 1px solid #d3d9df;
    padding: .4rem;
}

.ten-list-item {
    font-weight: bold;
    font-size: 14pt;
    line-height: 1.5rem;
    word-break: break-all;
}

.seventeen-list {
    border-bottom: 1px solid #d3d9df;
}

.seventeen-list-item1 {
    padding: .2rem;
    border-right: 1px solid #d3d9df;
    width: 80%;
}

.seventeen-list-item2 {
    width: 20%;
    padding: .2rem;
}

.time-box {
    position: absolute;
    right: .3rem;
    top: .5rem;
}

.time-box .text {/*倒计时*/
    font-size: .8rem;
}

#hour_show,
#minute_show,
#second_show {
    font-size: .8rem;
    display: inline-block;

}

#hour_show,
#minute_show {
    width: 1rem;
}

#second_show {
    width: 1rem;
}

.eight-list:last-child a {
    border-right: none;
}

.three-model-content {
    max-height: 30rem;
    overflow: hidden;
}

.three-model-content .column1 {
    width: 20%;
}

.three-model-content .center-list-item {
    padding: .2rem;
    margin-right: .2rem;
    text-align: center;
}

.three-model-content .center-list-item:last-child {
    margin-right: 0;
}

.three-model-content .four-list-content {
    border: 1px solid #d3d9df;
    max-height: 30rem;
    overflow-y: scroll;
}

#aThreeModal .list-item,
#aThreeModalTitle .list-item {
    border-bottom: 1px solid #d3d9df;
}

#aThreeModal .list-item {
    border-top: none;
}

#myModal .modal-body {
    padding: 0 0 .4rem 0;
}

#myModal .modal-header {
    padding: .5rem;
}

#threeModelContentTitle {
    line-height: 3rem;
    font-size: 1rem;
    border-top: 1px solid #d3d9df;
    text-align: center;
}

.yearBtn {
    border: 1px solid #d3d9df;
    padding: .2rem .4rem;
    border-radius: 4px;
}

.yearBtn.active {
    color: #fff;
    background: #0084ff;
    border-color: #0084ff;
}

.twenty-five-item {
    width: 33.33%;
    padding: .4rem;
}

.twenty-five-btn {
    border: 1px solid #d3d9df;
    background: #FFF;
    border-radius: 5px;
    display: block;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    padding: .2rem .3rem;
}

.twenty-five-btn:hover {
    color: #FFF;
    background: #e11313;
}

.twenty-six-item-title {
    border-bottom: 1px solid #d3d9df;
    background: #f5b909;
    padding: .4rem;
}

.twenty-six-list {
    border-bottom: 1px solid #d3d9df;
}

.twenty-six-item1 {
    width: 10%;
    border-right: 1px solid #d3d9df;
    padding: .2rem;
}

.twenty-six-item2 {
    width: 23.33%;
    border-right: 1px solid #d3d9df;
    padding: .2rem;
}

#twentyOneBox .four-list-content .ten-list-item {
    padding-left: .5rem;
}

#twentyOneBox .ten-list {
    padding: .4rem 0;
}

.imgLink {
    height: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: block;
}

.imgLink img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#sixteenBox .ten-list-item,
#seventeenBox .ten-list-item,
#fourteenBox .ten-list-item,
#tenBox .ten-list-item {
    text-align: center;
}
